:root {
	--color1: #69D2E7;
	--color2: #A7DBD8;
	--color3: #E0E4CC;
	--color4: rgb(231, 136, 63);
	--color5: rgb(250, 125, 36);

	--color1: #b09c69;
	--color2: #b09c69;
	--color3: #823c33;
	--color4: #fdfefd;
	--color5: #e5cea6;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: "Lato", "Arial", sans-serif;
	padding: 10px;
	background-color: var(--color2);
}

/*
* === NAV BAR ===
*/
.navigation {
	font-size: 2rem;
	background-color: var(--color3);
}

.navigation__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;

}

.navigation__link {
	text-decoration: none;
	color: #fdfefd;
	display: block;
}

.navigation__element {
	padding: 0.3rem;
	border-style: solid;
	border-width: 1px;
	flex: auto;
	text-align: center;
}

.navigation__element:hover {
	background-color: var(--color1);
}

@media all and (max-width: 50em) {
	.navigation__list {
		flex-direction: column;
	}
}

/*
* === ABOUT ===
*/

.about {
	background-color: var(--color4);
	width: 80%;
	padding: 3%;
	text-align: justify;
	margin: 3% auto;
	font-size: 30px;
	box-shadow: 1px 1px 16px 2px rgba(0, 0, 0, 0.94);
}

.about__welcome {
	text-align: center;
	font-size: 1.6em;
	padding: 0 0.8em;
}

.about__photo {
}

.about__img {

	object-fit: contain;
	max-width: 100%;

}

.about__containter {
	display: flex;
	flex-direction: row-reverse;


}

/*
* === INTERESTS ===
*/

.interests {
	background-color: chocolate;
	width: 80%;
	padding: 3%;
	text-align: justify;
	margin: 3% auto;
	font-size: 30px;
	box-shadow: 1px 1px 16px 2px rgba(0, 0, 0, 0.94);
}

.interests__title {
	text-align: center;
}

.interests__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	padding: 5px;

}

.interests__element {
	font-size: 40px;
	width: 25rem;
	height: auto;
	background-color: pink;
	text-align: center;
	margin: 5px;
	padding: 8px;
	box-shadow: 1px 1px 16px 2px rgba(0, 0, 0, 0.94);

}

.interests__icon {
	font-size: 100px;
}

.interests__iconContainer {
	text-align: center;
}

.interests__description {
	font-size: 20px;
}

/*
* === SKILLS ===
*/

.skills {
	background-color: chocolate;
	width: 80%;
	padding: 3%;
	text-align: justify;
	margin: 3% auto;
	font-size: 30px;
	box-shadow: 1px 1px 16px 2px rgba(0, 0, 0, 0.94);
}

.skills__title {
	text-align: center;
}

.skills__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	padding: 5px;
}

.skills__element {
	font-size: 40px;
	width: 25rem;
	height: auto;
	background-color: pink;
	text-align: center;
	margin: 5px;
	padding: 8px;
	box-shadow: 1px 1px 16px 2px rgba(0, 0, 0, 0.94);

}

.skills__icon {
	font-size: 100px;
}

.skills__iconContainer {
	text-align: center;
}

.skills__description {
	font-size: 20px;
}

.skills__paragraph {
	text-align: center;
}

/*
* === PROJECTS ===
*/

.projects {
	background-color: chocolate;
	width: 80%;
	padding: 3%;
	text-align: justify;
	margin: 3% auto;
	font-size: 30px;
	box-shadow: 1px 1px 16px 2px rgba(0, 0, 0, 0.94);
}

.projects__title {
	text-align: center;
}

.projects__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	padding: 5px;
}

.projects__element {
	font-size: 40px;
	width: 25rem;
	height: auto;
	background-color: pink;
	text-align: center;
	margin: 5px;
	padding: 8px;
	box-shadow: 1px 1px 16px 2px rgba(0, 0, 0, 0.94);
}

.projects__icon {
	font-size: 100px;
}

.projects__iconContainer {
	text-align: center;
}

.projects__description {
	font-size: 20px;
}

.projects__paragraph {
	text-align: center;
}

.projects__link {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/*
* === FOOTER ===
*/

.footer {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.footer__link {
	text-decoration: none;
	color: var(--color3);
}

/*
* === REUSABLE ===
*/

.element {
	background-color: var(--color5);
}

.section {
	background-color: var(--color4);
}