html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
font-family: "Lato", "Arial", sans-serif;
padding: 10px;
background-color: #a9d8cb;
}

/*
* === NAV BAR ===
*/
.navigation {
	font-size: 2rem;
	background-color: #e0ebe8;
}

.navigation__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.navigation__link {
	text-decoration: none;
	color: black;
}

.navigation__element {
	padding: 0.3rem;
	border-style: solid;
	border-width: 1px;
	flex: auto;
	text-align: center;
}

.navigation__element:hover {
	background-color: #a9d8cb;
	/*cursor: pointer;*/
}

@media all and (max-width: 50em) {
	.navigation__list {
		flex-direction: column;
	}
}

/*
* === ABOUT ===
*/

.about {
/*display: flex;
flex-direction: column;
align-items: center;*/
background-color: chocolate;
width: 80%;
padding: 3%;
text-align: justify;
margin: 3% auto;
font-size: 30px;
box-shadow: 1px 1px 16px 2px rgba(0,0,0,0.94);
}

.about__welcome {
text-align: center;
}