html {
	box-sizing: border-box;
	text-decoration: none;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
font-family: "Lato";
padding: 10px;


}
.header {
	background-color: #e0ebe8;
}

/*
* === NAV BAR ===
*/
.navigation {
	font-size: 2rem;
}

.navigation__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.navigation__element {
	padding: 0.3rem;
	border-style: solid;
	border-width: 1px;
	flex: auto;
	text-align: center;
}

.navigation__element:hover {
	background-color: #a9d8cb;
	/*cursor: pointer;*/
}

@media all and (max-width: 50em) {
	.navigation__list {
		flex-direction: column;
	}
}